<main class="container">
      <%= render 'back_button' %>

    <div class="header">
        <h1><%= t('.title') %></h1>
    </div>

    <%= turbo_frame_tag @quote do %>
        <%= render 'form', quote: @quote %>
    <% end %>
</main>
